{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block 'title' %}
        <title>Enquente</title>
    {% endblock %}
</head>
<body style="background: #121212; color: field; ">
    {% include 'parciais/_nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block 'sub-title' %}
                {% endblock %}    
            
                {% block 'conteudo' %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>